/* src/app/user-registration-form/user-registration-form.component.scss */
form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 8px 0;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
