.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  margin-bottom: 20px;
}

.favorite-movie-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.favorite-movie-item span {
  flex: 1;
}